name: Capabilities
env:
  CI: true
  FORCE_COLOR: 1
on:
  push:
    branches:
      - main
    paths:
      - 'packages/capabilities/**'
      - '.github/workflows/capabilities.yml'
      - 'pnpm-lock.yaml'
  pull_request:
    paths:
      - 'packages/capabilities/**'
      - '.github/workflows/capabilities.yml'
      - 'pnpm-lock.yaml'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2.2.3
        with:
          version: 7
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run build
      - run: pnpm -r --filter @web3-storage/capabilities run lint
      - run: pnpm -r --filter @web3-storage/capabilities run test
      - run: pnpm -r --filter @web3-storage/capabilities exec depcheck
